
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../Multimedia/Branding/isotype.svg">
    <title>Funko Shop</title>
    <link rel="stylesheet" href="../../CSS/index.css">
    <link rel="stylesheet" href="../../CSS/pages/account.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('../partials/header')%>
    <main>

        <aside>

            <a href="/user/products">Mis productos</a>
            <a href="/user/add_products">Agregar productos</a>

        </aside>
        
        <section class="account_details">

            <div>
                <p>Hola, esta es mi cuenta.</p>
            </div>

            <a href="/auth/logout"> CERRAR SESIÓN </a>

        </section>

    </main>
    <%- include('../partials/footer')%>

</body>

</html>