
main {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 5rem;
}

.account_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 5rem;
}