
@import url('../misc/palette.css');

.account-container {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    gap: 40px;
}

.account_paragraph {
    display: flex;
    padding: 2rem;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
}

.account_content {
    display: flex;
    justify-content: center;
}

.account_sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.account_sidebar a {
    padding: 10px;
    margin: 10px 2em 0px;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto);
    background-color: var(--color-button);
}

.account_details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 80vh;
    gap: 20px;
}
.account_details p {
    font-size: 1.2rem;
    color: var(--text);
}

.user_details {
    display: flex;
    padding: 20em;
    margin: 10em;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.user_details h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}
.user_details p {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}


.logout-button {
    padding: 10px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto);
    background-color: var(--color-button);
}