
@import url('../misc/palette.css');

/* ITEM */
.item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item img {
    width: 100%;
}


.item_description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.item_details {
    font-family: 'Raleway', sans-serif;
}
.item_details span{
    font-size: 2rem;
    font-weight: 500;
}
.item_details h2{
    font-size: 4rem;
    font-weight: 700;
}
.item_details p {
    font-size: 2rem;
    font-weight: 400;
    max-width: 1000px;
}


.item_price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item_price p{
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.item_price button {
    height: 40px;
    width: 150px;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(230, 230, 230);
    background-color: rgb(230, 70, 70);
}


.payment_methods {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(35, 100, 200);
}
.payment_methods a{
    color: rgb(35, 100, 200);
}


.carousel_conteiner {
    background-color: var(--color-contraste-suave);
}

.carousel {
    padding: 20px 80px 20px;
    background-color: var(--color-contraste-fuerte);
}

.carousel_title {
    display: inline-block;
    margin: 20px 15px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    border-bottom: 3px solid var(--color-button);
}