
main {
    display: flex;
    margin: 20px 0px 20px;
}


.shop_filter {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px;
}


.shop_items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 25px;
}


.product_item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}
.product_item img {
    height: 250px;
    width: 250px;
}


.product_description{
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    gap: 5px;
}
.product_description span{
    font-size: 2rem;
    font-weight: 500;
}
.product_description h2{
    font-size: 2rem;
    font-weight: 700;
}
.product_description p{
    font-size: 2rem;
    font-weight: 400;
}
.product_description a{
    font-size: 2rem;
}


.payment_methods {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(35, 100, 200);
}
.payment_methods a{
    color: rgb(35, 100, 200);
}