
@import url('../misc/palette.css');

.shop_conteiner {
    display: flex;
    background-color: rgb(235, 235, 235);
}

/* SHOP ITEMS*/
.shop_items {
    display: flex;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.product_item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: inherit;
    background-color: rgb(255, 255, 255);
}

.product_description{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    gap: 5px;
}
.product_description span{
    font-size: 2rem;
    font-weight: 500;
}
.product_description h2{
    font-size: 2rem;
    font-weight: 700;
}
.product_description p{
    font-size: 2rem;
    font-weight: 400;
}
.product_description a{
    font-size: 2rem;
}


.payment_methods {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--color-payments);
}
.payment_methods a{
    color: var(--color-payments);
}


.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    gap: 10px;
}

.page-number {
    padding: 8px 14px;
    border: 1px solid var(--color-contraste-fuerte);
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.page-number:hover {
    border-color: var(--color-button);
    font-weight: 800;
}

.page-number.active {
    border: 2px solid var(--color-button);
    font-weight: 800;
}

.next-button, .prev-button {
    padding: 8px 14px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-texto);
    transition: background-color 0.2s ease;
    background-color: var(--color-button);
}

.next-button:hover, .prev-button:hover {
    background-color: var(--color-button-soft);
}



/* Images */
.image_container {
    display: flex;
    justify-content: center;
    position: relative;
}

.image_container img {
    height: 250px;
    width: 250px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.primary_image {
    opacity: 1;
    visibility: visible;
}
.secondary_image {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.image_container:hover .primary_image {
    opacity: 0;
    visibility: hidden;
}
.image_container:hover .secondary_image {
    opacity: 1;
    visibility: visible;
}


@media (max-width: 600px) {
  .product_description {
        padding: 8px;
        gap: 4px;
  }

  .product_description span,
  .product_description h2,
  .product_description p,
  .product_description a,
  .payment_methods {
        font-size: 1.2rem;
  }

  .image_container img {
    width: 150px;
    height: auto;
  }
}
