
main {
    display: flex;
}

.shop_filter {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px;
    background-color: rgb(221, 26, 26);
}
.shop_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-color: blue;
}

.product_item {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.product_item img {
    height: 250px;
    width: 250px;
}

.product_description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product_description h2{
    font-size: 2rem;
}
.product_description span{
    font-size: 2rem;
}
.product_description p{
    font-size: 2rem;
}
.product_description a{
    font-size: 2rem;
}