
<footer> 
    <div>
        <nav>
            <a href="/shop">Shop</a>
            <a href="/">Ingresar</a>
            <a href="/">Contacto</a>
        </nav>
        
        <div>
            <img src="../../Multimedia/Branding/isotype.svg" alt="Isotipo Funko_Shop"/>
        </div>

    </div>
    
    <span>All rigths reserverd 2025 - Funko Shop &copy; </span>
    
</footer>