
<header> 
    <a href="/">
        <img src="../../Multimedia/Branding/logo_light_horizontal.svg" alt="Logo Funko_Shop"/> 
    </a>
    <nav>
        <a href="/shop"> SHOP </a>
        <a href="/"> CONTACT </a>
        <a href="/"> LOGIN </a>
        <a href="/"> TROLLEY </a>
    </nav>
</header>