
<header> 
    <a href="/home">
        <img src="../../Multimedia/Branding/logo_light_horizontal.svg" alt="Logo Funko_Shop"/> 
    </a>
    <nav>
        <a href="/shop"> SHOP </a>
        <a href="/home"> CONTACT </a>
        <a href="/home"> LOGIN </a>
        <a href="/home"> TROLLEY </a>
    </nav>
</header>