
<header> 
    <a href="/">
        <img src="../../Multimedia/Branding/logo_light_horizontal.svg" alt="Logo Funko_Shop"/> 
    </a>

    <% if (is_logged) { %>
        <nav>
            <a href="/shop"> SHOP </a>
            <a href="/user/account"> ACCOUNT </a>
            <a href="/user/cart">
                <img src="../../Multimedia/Iconos/cart-icon.svg" alt="Carrito de compras" class="cart-icon"> 
            </a>
            <a href="/auth/logout">
                <img src="../../Multimedia/Iconos/logout_icon.svg" alt="Cerrar Sesión" class="logout-icon"> 
            </a>
        </nav>
    <% } else { %>
        <nav>
            <a href="/shop"> SHOP </a>
            <a href="/auth/login"> LOGIN </a>
        </nav>
    <% } %>
</header>