
@import url('../misc/palette.css');

footer{
    padding: 5em;
    justify-content: space-between;
    background-color: var(--color-fondo);
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

footer img {
    width: 70%;
    margin: 15px;
}

footer a {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer span {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1.5rem;
    color: rgb(256,256,256);
}