
@import url('../misc/palette.css');

header {
    display: flex;
    padding: 5em;
    justify-content: space-between;
    background-color: var(--color-fondo);
}

header img {
    height: auto;
    width: 100%;
}

header nav {
    display: flex;
    margin: 0 10em 0;
    align-items: center;
    gap: 15px;
}

header a {
    margin: 20px 10px 20px;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logout-icon, .cart-icon {
    height: 30px;
    width: 30px;
}