
/* SIDE BAR */
.shop_sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px 0px 5px;
    font-size: 5rem;
    font-family: 'Inter', sans-serif;
}
.shop_sidebar label {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

#shop_filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop_search {
    display: flex;
    flex-direction: column;
}
.shop_search input {
    width: 95%;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid var(--color-contraste-fuerte);
}

.shop_order {
    display: flex;
    flex-direction: column;
}
.shop_order select {
    width: 95%;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid var(--color-contraste-fuerte);
}

.shop_price {
    display: flex;
    flex-direction: column;
}
.price_inputs {
    display: flex;
    align-items: center;
    appearance: none;
    gap: 10px;
}
.price_inputs span {
    font-size: 1.6rem;
}
.price_inputs input[type="number"] {
    appearance: textfield;
    width: 20px;
    padding: 5px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Quita las flechas del input numerico en el navegador */
.price_inputs input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; 
    -webkit-appearance: none;
}
.price_inputs input[type="number"]::-webkit-inner-spin-button,
.price_inputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shop_submit {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
.shop_submit button {
    height: 40px;
    width: 150px;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(230, 230, 230);
    background-color:var(--color-button);
}


.filter_toggle {
  display: none;
  padding: 10px 15px;
  font-size: 1.6rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  color: var(--color-texto);
  background-color: var(--color-button);
}

.mobile_sidebar {
  display: none;
  justify-content: center;
  padding: 20px;
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 0;
  transform: translate(-150%, -50%); 
  transition: transform 0.3s ease-in-out;
  background-color:var(--color-contraste-suave);
}

.mobile_sidebar.open {
  transform: translate(-50%, -50%); 
}

@media (max-width: 600px) {
  .filter_toggle {
    display: block;
  }
  .shop_sidebar {
    display: none;
  }
}
